@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

body {
	padding: 10px 30px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.dbtn {
	color:  yellow;
	background-color: purple;
	border-radius: 10px;
	padding: 3px 15px;
	font-weight: 500;
}

h2 {
	font-weight: 900;
	text-align: center;
}

.svg {
	width: 40px;
}

.p__svg {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.p__svg p {
	font-size: 20px;
}