@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

body {
	padding: 10px 30px;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.dbtn {
	color:  yellow;
	background-color: purple;
	border-radius: 10px;
	padding: 3px 15px;
	font-weight: 500;
	font-size: 18px;
}

.dbtn:hover {
	border: 1px solid purple;
	color: purple;
	background-color: transparent;
}

h2 {
	font-weight: 900;
	text-align: center;
}

.svg {
	width: 40px;
}

.p__svg {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.p__svg p {
	font-size: 20px;
}

.dalert {
	padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 0.03px;
    margin: 10px 0;
    border-radius: 0 10px 10px 0;
}

.dalert-warning {
	border-left: 7px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
    color: rgb(99, 99, 0);
}

.dalert-info {
    border-left: 7px solid purple;
	background-color: rgba(128, 0, 128, 0.2);
    color: rgb(61, 0, 61);
}